[submodule "HW6/L4FlowMonitor"]
	path = HW6/L4FlowMonitor
	url = git@github.com:0xSELAMI/L4FlowMonitor.git
[submodule "TermProject/BLM4900-Project"]
	path = TermProject/BLM4900-Project
	url = git@github.com:0xSELAMI/BLM4900-Project.git
